name: Build and push prepared templates

on:
  push:
    paths:
      - 'templates/**'
      - '.github/workflows/templates.yml'
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  buildAndPublish:
    defaults:
      run:
        working-directory: ./templates/base

    name: Build and Push Images
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        run: |
          docker buildx build \
            --file moru.Dockerfile \
            --platform linux/amd64 \
            --push \
            --tag ghcr.io/${{ github.repository_owner }}/base:latest .
